version: '3.8'
services:
  apache:
    container_name: php-apache-lamp
    image: lamp:v02
    volumes:
      - /var/containerdata/apache:/var/www/html
    ports:
      - "80:80"
    networks:
      - lamp

  mariadb:
    container_name: mariadb-lamp
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: Pass1234
    volumes:
      - /var/containerdata/mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - lamp

networks:
  lamp:
    external: false
